<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
	<head>
		<style type="text/css">
.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}
input[type=submit] {
	background-color: #1E90FF;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
input[type=submit]:hover {
  background-color: #4169E1;
}
input[type=text], input[type = password] {
   width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  margin-top: 3px; 
  margin-bottom: 3px; 
}
</style>
		<title> Employee Manager </title>
	</head>
	<body>
	<div class="header" style="position: fixed; top: 0px; left: 0; width: 100%;  background: linear-gradient(to bottom, #9999ff 0%, #ffffcc 100%);">
			<h3>Header goes here</h3>
	</div>
	
		<div align = "center" class = "container" style= "margin-top: 85px; height:520px;">
		<br><br>
			<form th:action="@{/login}" th:object= "${user}" method = "post"> <br>
				<table>
					<tr>
						<td>User ID  :</td>
						<td><input type = "text" th:field ="*{username}" name = "username" ></td>
					</tr>
					<tr>
						<td>Password :</td>
						<td><input type = "password" th:field ="*{password}" name = "password"> <br></td>
					</tr>
					<tr>
						<th></th>
						<td align = "right"><input type = "submit" value = "Sign In" align = "right"></td>
				</table>
			</form>
		
		
		
		</div>
		<div align = "center" class= "footer" style= "position: fixed; bottom: 0px; left: 0; width: 100%;  background: linear-gradient(to top, #9999ff 0%, #ffffcc 100%);">
			<h2>Footer goes here</h2>
		</div>
	</body>
</html>